
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    scroll-behavior:smooth;
    font-family: "Roboto", "Arial", sans-serif;


}
hr{
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #dad7d7;  /* old IE */
    background-color: #ecebeb; 
   margin: 10px;
}


/* header*/
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    padding:5px 25px;
    padding-right:40px;
    /* flex-wrap: nowrap; */

}
.logo-img{
   
    position:relative;
    height:40px;
    width:130px;
}
.logo-img img{
    position:relative;
    height:100%;
    width:100%;
    top:0;
    padding-left: 20px;

}
.logo-container{
    display:flex;
}
.search-container{
    display: flex;
    align-items: center;
    margin-left:65px;
    /* background: red; */
    flex:0 1 670px;
}

.search-container form{
    position: relative;
    width:100%;
    /* background: red; */
    /* visibility: hidden */
    ;
}
.search-container input{
    height:40px;
  
    display:flex;
    align-items: center;
    width:100%;
    background-color: white;
    border: 1px solid rgb(202, 195, 195);
    padding-left:13px;
    padding-right: 5px;
    color:rgb(22, 21, 21);
    font-size:16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;

}
.search{
   
    min-width: 62px;
    min-height: 40px;
    display:flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: none ;
    border:none;
    border-right:1px solid rgb(202, 195, 195) ;
    border-top:1px solid rgb(202, 195, 195) ;
    border-bottom:1px solid rgb(202, 195, 195) ; 
     border: 1px solid rgb(202, 195, 195);
    font-size: 25px;
    color: rgb(70, 70, 70);
    align-items: center;
    justify-content: center;
    cursor:pointer;
    /* background-color:transparent;*/
} 
.mic{
    min-width :40px;
    height: 40px;
    border:1px solid rgb(202, 195, 195) ;
    border-radius: 50px;
    font-size:23px;
    margin-left: 15px;
    align-items: center;
    cursor: pointer;
    border: none;

}
.mic:hover{
    background-color: #dad7d7;
}
.profile-container{
    display:flex;
    align-items: center;
   
}
.profile-container i{
    font-size: 20px;
}

.create-button{
    width:100px;
    height: 40px;
    background-color: rgb(243, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 15px;
    cursor: pointer;

    
}
.create-button:hover{
    background-color: #dad7d7;
}

.create-button span{
    padding-left:5px;
    font-family:"Roboto", sans-serif;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 15px;
}
.bell{
   
    margin-left: 20px;
    margin-right: 25px;;
    cursor: pointer;
    width:40px;
    height: 40px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.bell:hover{
    background-color: #dad7d7;
  

}
.user-profile{
    position:relative;
    height: 50px;
    width:50px;
    border-radius: 50%;
    overflow: hidden;

    
}
.user-profile img{
    width:100%;
    height: 100%;
    cursor: pointer;
}

.body-container
{   
    display: flex;
    position: fixed;
    top:60px;
    height: calc(100vh-60px);
    /* overflow-y:auto; */
    bottom: 0px;
    /* scrollbar-width: thin; */
    /* scrollbar-color: transparent transparent; */
}
/* .body-container:hover{
    scrollbar-color:#a6a6a6 transparent; 
} */

.sidebar{

    width:240px;
    padding-top: 10px; 
    background-color: transparent; 
  padding-left: 12px;
  padding-right: 12px;
  overflow-y:auto;
  /* white-space: nowrap; */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  font-family: "Roboto", "Arial", sans-serif;;
 
 
   
}

.sidebar:hover{
    scrollbar-color:#a6a6a6 transparent; 
}
.sidebar a{
    text-decoration: none;
    color:black;
}
.sidebar-items
{
    display: flex;
    flex-direction: column;
    /* gap:10px; */
}
.sidebar-item{
    display:flex;
    height: 40px;
    cursor:pointer;
    align-items: center;
    padding:0px 20px;
    /* gap:20px; */
    /* background-color:red; */
    border-radius: 10px;
    font-size: 14px;;
     white-space: nowrap;


}
.sidebar-items .active{
    background-color: rgb(243, 242, 242);
}
.sidebar .section-heading{
    padding: 8px 24px 5px;
    font-weight: 500;
    font-size: 17px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    color: black;
   
}
.sidebar .section-heading i{
    margin-top: 0px;
    font-size: 22px; 
    font-weight: 100;
    color:rgb(94, 94, 94);
    
}
.sidebar-item i{
    margin-right: 25px; 
    font-size: 24px;
}
.sidebar-item img{
    margin-right: 25px;

    /* background-color: green; */
    height: 25px;
    width:25px;
}
.sidebar-item:hover{
    background-color: rgb(243, 242, 242);
}
.sidebar-item .channel{
    position: relative;
    display:flex;
    /* align-items: center; */
    justify-content: center;
   
    

}
.sidebar-item .channel img
{
     Width:24px;
     border-radius: 50%;
}

/*  */

.sidebar-footer{
    /* background-color: red; */
    padding: 5px 15px;
}
.footer-content-first,
.footer-content-second{
/* background-color: red; */
line-height: 20px;
}
.footer-content-second{
    margin-top: 10px;
}
.footer-content-first a,
.footer-content-second a{
    font-size: 13px;
    
    color:rgb(70, 69, 69)
}
.copy-right{
    position:relative;
   margin: 15px 0;
    /* background-color: green; */
    /* bottom:10px; */
   

}
.copy-right .content{
    font-size: 13px;
    color: rgb(148, 147, 147);
}
/* Main content */
.main-content{
    width:calc(100vw - 245px);
   
    /* background-color: red; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-content .chip-content{
    background-color: white;
    overflow-x: scroll;
    width:100%;
    display:flex;
    padding-left: 14px;
    scrollbar-width:none;
    position:fixed;
    z-index: 2;


}

.chip{
    margin: 12px 6px;
    background-color: rgb(243, 242, 242);
    border-radius: 8px;
    padding: 6px 12px;
    white-space: nowrap;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
    font-weight: 500;

}
.chip-content .active{
    background-color: rgb(7, 7, 7);
    color:white;
}

.chip:hover{
    background-color: rgb(223, 222, 222);
}
.video-container{
    height: 100vh;
    width:calc(100vw - 230px) ;
     /* background-color: green; */
     padding-left:20px; 
     /* padding-right:40px; */
     margin-top: 80px;
}

.video-container .video-list{
    display: grid;
    gap:17px;
    padding-right: 40px;
    row-gap: 30px;
    /* grid-template-columns:  repeat(auto-fill, minmax(350px, 1fr)); */
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
}
.video-list .video-content .video-thumbnail{
    position: relative;
}
.video-list .video-content .video-details{
    display:flex;
    gap:20px;
    
    
    padding:12px 0px;
    /* background-color: red; */
}
.video-list .video-content .video-details .menu{
    /* background-color: green; */
    flex-grow:1;
    flex-direction: row;
    position: relative;
   
}
.video-details .menu i{
    /* background-color: yellow; */
   
   position: absolute;
   top:0;
   right:7px;
}
.video-list .video-content .thumbnail{
    width:100%;
    border-radius: 15px;

}
.video-list .video-content .duration{
   position:absolute;
   background-color: rgb(41, 40, 40);
   bottom:10px;
   right:10px;
   padding: 2px 3px;
   text-align: center;
   border-radius: 4px;
   color:white;


}
.hidden-content .views{
   
    display:flex;
    /* background-color: red; */
    align-items: center;
  
    gap:10px;
    font-size: 14px;
    color:rgb(99, 98, 98)
}
.hidden-content .views i{
    padding-bottom: 10px;
}
.video-list .video-content .channel-logo{
    height: 36px;
    width:36px;
    border-radius: 50%;
}
.video-list .video-content .title{
    font-size:16px ;
    font-weight: 500;
    color:black;
    display:-webkit-box;
    
    -webkit-line-clamp:2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* text-overflow: ellipsis; */
   
   
  
  
}
.video-list .video-content p{
    font-size: 14px;
    color:rgb(99, 98, 98)
}
.video-list .video-content .channel-name{
    margin:5px 0 2px 0;
    
}
.video-list .video-content .channel-name i{
    padding-left: 5px;
}
